body {
    font-family: 'open sans', sans-serif;
  }
a{
    text-decoration: none;
}
header{
    min-height: 100vh;
   @media (min-width:768px) {
    position: relative;
    /* background-image: url('https://images.unsplash.com/photo-1497366811353-6870744d04b2?auto=format&fit=crop&q=80&w=1469&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
    color: #fff; /* Color de texto */
    text-align: center;
    padding: 4rem;
    max-width: 100%;
    max-height: 60vh;
    min-height: 50vh;
    /* filter: blur(1px); */
   }
    
}
header h1{
    font-weight: bold;
    font-size: 3.4rem;
}
header h2{
    font-weight: lighter;
    font-size: 1.6rem;
    margin: 0 3rem;
}
header::before {
    content: "";
    background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: blur(2px); /* Aplicar desenfoque al fondo del pseudo-elemento */
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
  }
.logo{
    font-size: 1.2rem;
    font-weight: lighter;
}

.header-container{
    text-align: center;
    padding-top: 4rem;
    @media (min-width: 768) {

        max-width: 100rem;
        padding: 8rem;
    }
}
.navigation-header{
    text-align: center;
    color: white;
    align-items: center;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        
    }
}
.navigation-header a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    @media (max-width: 768px) {
        margin-top: 1rem;
    }
    /* padding: 2rem; */
    /* padding: 0 2rem; */
}
.navbar{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        
    }
}
.navbar a{
    padding: 0 1rem;
    text-transform: uppercase;
}
.navbar a:hover{
    color: lightseagreen;
}

.header-body{
    color: white;
    @media (min-width: 768px) {
        /* color: white; */
        margin: 0 7rem;
    }
}
.header-body h2{
    margin: 3rem;
}
.btn-container{
    margin-top: 6rem;
}
.btn{
    padding: 1rem 2rem;
    background-color: white;
    margin-top: 3rem;
    color: black;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;
}
.btn:hover{
    background-color: grey;
    color: white;
}
.container{
    width: 75%; 
    max-width: 75rem; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 2rem;
}
.seccion-main{
    margin: 3rem auto;
    @media (min-width: 768px) {
        margin:  0.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 3rem;
    }
}

.seccion-main h2{
    font-weight: lighter;
    font-size: 2rem;
   @media (min-width: 768px) {
    margin: 0 auto 1rem;
   }
}
.imagen-main{
   @media (min-width: 1080px) {
    max-height: 13rem;
    overflow: hidden;
   }
   @media (min-width: 768px) {
        max-height: 20rem;
       overflow: hidden;
   }
}
.imagen-main img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: auto;
    @media (min-width: 1080px) {
        width: 100%;
        height: auto;
    }
    @media (min-width: 768px) {
        height: 100%;
        width: auto;;
    }

}
.parrafo-main{
    text-align: justify;
}
.btn-container{
    margin: 0 auto;
   @media (min-width: 1080px) {
    margin:3rem auto;
    justify-content: center;
   }
}
.btn-green{
    @media (max-width:1080px) {
        display: block;
    }
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;   
    margin: 2rem 0;
    padding: 1rem 5rem;
    border: 1px solid lightseagreen;
    color: lightseagreen;
    transition: background-color 0.5s, color 0.5s;
}
.btn-green:hover{
    background-color: lightseagreen;
    color: white;
}
.btn-rose{
    @media (max-width:1080px) {
        display: block;
    }
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;
    margin: 2rem 0;
    padding: 1rem 5rem;
    border: 1px solid palevioletred;
    color: palevioletred;
    transition: background-color 0.5s, color 0.5s;
}
.btn-rose:hover{
    background-color: palevioletred;
    color: white;
}
.seccion-overlay{
    margin: 0;
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
.overlay-img{
    position: relative;
    /* @media (min-width: 1080) {
        max-height: 20rem;
        overflow: hidden;
    } */
    @media (min-width: 768px) {
        max-height: 30rem;
        overflow: hidden;
    }
    

}
.overlay-img img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: auto;
    /* height: 20rem; */
    @media (min-width: 1080) {
        width: 100%;
        height: auto;
    }
    /* @media (min-width: 768px) {
        height: 100%;
        width: auto;
    } */
    
}
.overlay-azul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 71, 248, 0.2); /* Fondo semitransparente del overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Color del texto */
    font-size: 2.4rem; /* Tamaño del texto */
}
.overlay-verde{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 248, 22, 0.2); /* Fondo semitransparente del overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Color del texto */
    font-size: 2.4rem; /* Tamaño del texto */
}
.seccion-fondo{
    background-color: rgb(80, 88, 194);
}
.container-texto{
    width: 40%; 
    max-width: 40rem; 
    margin: 0 auto; 
    padding: 4rem; 
    font-size: 1.6rem;
    font-weight: normal;
    color: white;
    text-align: center;
}
.footer-up{
    margin: 3rem 0rem 3rem 2rem;
    width: 100%;
    max-width: 1;
   @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
   }
    text-align: justify;
    color: grey;
}
.logo-footer{
    text-align: center;
    font-size: 1.2rem;
    text-align: left;
}
.logo-footer span{
    font-size: 1rem;
    font-weight: lighter;
    
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    /* color: grey; */
    align-items: center;
    
}
.footer-nav a{
    color: grey;
}
.footer-logo{
    @media (max-width:1080px) {
        justify-content: center;
    }
}
.hidden{
    @media (max-width: 1080px) {
        display: none;
    }
}
.align-right{
   @media (min-width: 1080px) {
    float: right;
    margin: 0;
   }
}

.text-right{
    @media (min-width: 768px) {
        text-align: right;
    }
}
.text-left{
    @media (min-width: 768) {
        text-align: left;
    }
}
